<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MushROMs.Controls.Properties.OpenGFXSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MushROMs.Controls.OpenGFX" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MushROMs.Controls.OpenPaletteSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MushROMs.Controls.PaletteControl" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MushROMs.Controls.Properties.OpenGFXSettings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="GraphicsType" serializeAs="String">
                <value>SNES_4BPP</value>
            </setting>
            <setting name="FilterIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </MushROMs.Controls.Properties.OpenGFXSettings>
        <MushROMs.Controls.OpenGFX>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="GraphicsType" serializeAs="String">
                <value>SNES_4BPP</value>
            </setting>
            <setting name="SelectedIndedx" serializeAs="String">
                <value>0</value>
            </setting>
        </MushROMs.Controls.OpenGFX>
        <MushROMs.Controls.OpenPaletteSettings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="GraphicsType" serializeAs="String">
                <value>SNES_4BPP</value>
            </setting>
        </MushROMs.Controls.OpenPaletteSettings>
        <MushROMs.Controls.PaletteControl>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
        </MushROMs.Controls.PaletteControl>
    </userSettings>
</configuration>